---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>
<div class="main_content">

    {{content}}

</div>
<script src="/js/jquery.min.js"></script>
{% include cookies.html %}
{% include comments.html element=".main_content" github_account="dgrbic/dgrbic.github.io" require_cookie_consent="true" %}

</body>
</html>

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
